/*Tricolor: 
    blue: #0055A4
    red: #EF4135
*/
 
body {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: white;
    background-image: url("../images/eiffel_large_light.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #0055A4;
}

/* round corners */
main, button, li {
    border-radius: 0.4rem;
}

main {
    width: 768px;
    min-height: 355px;
    background: #F8F8F8;
    margin: auto;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #0055A4;
    color: #F7F7F7;
    cursor: pointer;
}

p {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
}

h5 {
    padding: 1rem;
    font-size: 1.3rem;
}

table {
    margin: 1rem;
    font-size: 1.2rem;
    border-collapse: collapse;
    width: 16rem;;
}

th {
    text-align: left;
    padding: 0.5rem;
}

td {
    text-align: right;
    padding: 0.5rem;
}

tr:nth-child(odd) {
    background-color: #e6f3ff;
}

tr:nth-child(even) {
    background-color: #F7F7F7
}

progress {
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
}

#title {
    font-family: 'Quattrocento', serif;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    font-size: 2.5rem;
}

#prompt {
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
}

#answer-list {
    padding: 1rem;
    margin-left: 1rem;
}

.answer-item {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.answer-item:hover {
    background: white;
}

.red {
    color: #EF4135;
}

@media only screen and (max-width: 768px) {

    main {
        width: 100%;
        border-radius: 0;
    }
}

@media only screen and (max-width: 640px) {

    table {
        font-size: 1rem;
    }

    button {
        font-size: 0.9rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1.2rem;
    }

    .answer-item {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #prompt {
        font-size: 1.2rem;
    }

    #title {
        font-size: 1.8rem;
    }

}